
<h1> Your Todoodly Do list! </h1>

  <%= link_to "Sign In", new_user_session_path %>
  <%= link_to "Sign Up", new_user_registration_path %>

  <div class="list"> <h2> List </h2>
    <div class="item"> Item </div>
    <p><div class="all"> Show All </div> 
    <div class="incomplete"> Show Incomplete</div>
    <div class="complete"> Show Complete</div>
    <div class="remove_complete"> Remove Completed </div></p>
  </div>



